.footer{
    background: rgb(241, 241, 241);
    border-top: 3px solid #a311c0;
    padding: 40px 0;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    margin-top: 120px;
    @media screen and (max-width: 580px){
        img{
            width: 100px;
        }
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            width: 200px;
            @media screen and (max-width: 580px){
                width: 100px;
            }
        }
        @media screen and (max-width: 580px){
            ul{
                &:nth-child(3), &:nth-child(4){
                    display: none;
                }
            }
        }
        ul{
            h3{
                color: #a311c0;
            }
            li{
                list-style: none;
                margin-top: 10px;
                a{
                    text-decoration: none;
                    color: #000;
                    transition: 0.3s;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}